<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!--  NAVBAR  -->
<div class="navbar navbar-default navbar-fixed-top" *ngIf="invisible">
    <div class="container2">
        <div class="navbar-header">
            <a class="navbar-brand" rel="home">
                <img style="max-width:40px; margin-top: -10px;" src="https://cdn2.iconfinder.com/data/icons/electric-transport/100/electric_scooter_5-512.png">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a><b>MONO-RENT</b></a></li>
                <li><a (click)="map()">Mappa</a></li>
                <li><a (click)="qrcode()">Noleggio</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" method="get" id="searchform" action="">
				      <div class="form-group">
                <p style="margin-right: 30px;margin-top:3px;margin-down:3px">Bentornato: <b>{{data.result.username}}</b></p>
				      </div>
              <div class="form-group">
					      <p (click)="reload()" href="#" style="margin-right: 10px;margin-top:3px;margin-down:3px">logout</p>
				      </div>
			      </form>
				</div>
		</div>
</div>

<img *ngIf="img" src="https://cdn.vox-cdn.com/uploads/chorus_image/image/61013661/scooters_illo.0.jpg" width="100%">


<!--  FORM PER LOGIN E REGISTRAZIONE -->
<div class="container" *ngIf="visible">
  <div class="login-form" *ngIf="a">
      <h2>Accedi al tuo Account</h2>
      <form>
          <div class="text-center">
              <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png" class="img-circle avatar" alt="Avatar">
          </div>
          <div class="form-group">
              <input #username type="text" class="form-control" placeholder="Username" value="" class="input" class="form-control" name="username" required/>
              <input #password type="password" class="form-control" placeholder="Password" value="" class="input" class="form-control" name="password" required/>
          </div>
          <p class="text-center"><font color="#e60000">{{err}}</font></p>
          <div class="form-group">
              <input (click)= "onClick(username.value,password.value)" type="submit" value="Accedi" class="btn btn-primary btn-block"/>
          </div>
      </form>
      <p (click)= "onVedi()" class="text-center"><a href="#">Crea un Account</a></p>
  </div>
  <div class="login-form" *ngIf="b">
      <h2>Crea un Account</h2>
      <form>
          <div class="text-center">
              <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png" class="img-circle avatar" alt="Avatar">
          </div>
          <div class="form-group">
              <input #username2 type="text" class="form-control" placeholder="Username" value="" class="input" class="form-control" maxlength="15" name="username" required/>
              <input #password2 type="password" class="form-control" placeholder="Password" value="" class="input" class="form-control" name="password" required/>
          </div>
          <p class="text-center">{{ok}}</p>
          <div class="form-group">
              <input (click)= "onClick2(username2.value,password2.value)"  type="submit" value="Crea" class="btn btn-primary btn-block"/>
          </div>
      </form>
      <p (click)= "onVedi2()" class="text-center"><a href="#">Accedi al tuo Account</a></p>
  </div>
</div>

<!--  FORM QR CODE -->
<app-qr-code *ngIf="qr"></app-qr-code>

<!--  MAPPA  -->
<app-map *ngIf="mappa"></app-map>


